<section
        class="mbr-section mbr-section-hero mbr-section-full mbr-section-with-arrow mbr-parallax-background mbr-after-navbar"
        data-rv-view="2" id="header1-1" style="background-image: url(static/assets/images/ml.jpeg);">

    <div class="container">
        <div class="row">
            <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                <div class="card-content white-text" style="text-align: center;margin-top:50px;padding-top:10px;padding-bottom:10px;">
                    <h1 class="mbr-section-title display-1">WELCOME <br>TO&nbsp;<br> IT DELIVERY INNOVATION AND
                        EMERGING
                        TECHNOLOGIES, BANGALORE</h1>
                </div>
            </div>
        </div>
    </div>


</section>

<html>

<head>
    <title>Forecast Prediction</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>

<body>
<nav class='blue-grey'>
    <div class="nav-wrapper">
        <a class="brand-logo center" href="{% url 'product_add' %}" style="font-size: 32px;">Sales prediction and
            wastage reduction using AI</a>
        </u>
    </div>
</nav>
<div class="site-wrapper" style="margin-top:-25px;">

    {% if product_added %}
    <div class="row">
        <div class="col-sm-4">

            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="text-align: center;">
                    <!--                    {% if cluster_assigned == 0 %}-->
                    <!--                    <h3>0th Linear Regression</h3>-->
                    <!--                    {% else %}-->
                    <!--                    <h3>1st Cluster Assigned</h3>-->
                    <!--                    {% endif %}-->

                    {% if predicted_sales %}
                    <h3>Predicted Sales : {{ predicted_sales }} Units</h3>
                    {% else %}
                    <h3>Steel Faultiness : {{ steel_predicteds }}</h3>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url 'product_add' %}">Predict Again</a>
                </div>
            </div>

        </div>
    </div>
    {% else %}
    <div class="text-center"
         style="background-color: rgba(255,255,255,0.8);border-radius:50px;margin-top:50px;padding-top:10px;padding-bottom:10px;">
        <div class="row" style="width: -moz-fit-content;">
            <div class="col-sm-4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text" style="text-align: center;">
                            <span class="flow-text">
                                <span class="card-title" style="font-size: 32px">What is it about ?</span>
                            </span>
                        <p>A Prediction model to forecast sales of a newly launch product on the basis of
                            product features and pre-release demands. Also it predicts faultiness of a product while
                            manufacturing.</p>
                        <p class="mbr-section-lead lead">We will help you to build a model
                            and
                            test the same dataset with better prediction capability. We will also see prediction done
                            using
                            new dataset. Main aim of this project to make a prototype for a actual Machine Learning
                            model
                            building portal.</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'product_add' %}">Go Predict!</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="width: -moz-fit-content;">
            <div class="col-sm-3">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                            <span class="flow-text">

                                <span class="card-title"
                                      style="text-align: center; font-size: 32px;">Sales Prediction</span>

                            </span>

                        <p style="font-size: 24px">Prediction Accuracy</p>
                        </u>
                        <h6>Training Set Accuracy : 0.85</h6></p>
                        <h6>Test Set Accuracy : 0.76</h6>
                    </div>
                </div>
            </div>
        </div>


        <!--<h1 align="center" class='lead-mb-7'>Add your Product</h1> -->
        <div class="container">
            <center>
                <form id="product_form" method="post">
                    <table class="striped centered">
                        {% csrf_token %} {{ product_form }}
                    </table>
                    <button class="btn waves-effect waves-light" name="action" type="submit">Predict
                    </button>
                </form>
            </center>
        </div>
        <div class="row" style="width: -moz-fit-content;">
            <div class="col-sm-4" >
                <div class="card blue-grey darken-1">
                    <span class="card-content white-text">
                            <span class="flow-text">

                                <span class="card-title"
                                      style="text-align: center ;font-size: 32px;">Defect Detection Prediction</span>

                            </span>

                        <p style="font-size: 24px">Classification Accuracy</p>
                        </u>
                        <div>
                            <h6>Training Set Accuracy : 0.80</h6></p>
                            <h6>Test Set Accuracy : 0.75</h6>
                        </div>
                        <div class="flow-text"
                             style="text-align: center ;font-size: 32px;">
                            <h6><strong>Defect Classifications: </strong>Bumps | Dirtiness | K_Scatch | Other_Faults | Pastry | Stains | Z_Scratch</h6>

                        </div>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <center>
            <form id="product_form1" method="post">
                <table class="striped centered">
                    {% csrf_token %} {{ product_form1 }}
                </table>
                <button class="btn waves-effect waves-light" name="action" type="submit">Predict Faultiness
                </button>
            </form>
        </center>
    </div>


</div>
{% endif %}
</div>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" data-rv-view="13" id="footer1-5"
        style="background-color:rgba(67, 90, 99, 0.85); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    <center>
        <div class="col-sm-6 white-text">
            <p><strong>Address</strong><br>Philips Innovation Campus,<br>Manyata Tech Park,<br>Nagavara,<br>Bangalore
                India (560045).<br><br><br>
                <strong>Contacts</strong><br>
                Email: support@philips.com<br>
                Phone: +91 919725872439</p>
        </div>
        <div class="container text-xs-center white-text">
            <p>Copyright (c) Developed by EMS Team (2019)</p>
        </div>
    </center>
</footer>
</body>
<script>
    AOS.init();























</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</html>

